<% unless @query_successful %>
    <div class="row">
        <div class="col s4 offset-s4">
            <div style="text-align: center;" class="card indigo lighten-2 ">
                <div class="card-content black-text">
                    <p style="color: red">A consulta está errada! Por favor verifique a sintaxe</p>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="row">
        <div class="col s4">
            <div style="text-align: center;" class="card indigo lighten-2 ">
                <div class="card-content black-text">
                    <span class="card-title"><b>A consulta escolhida foi:</b></span>
                    <p>
                        <%= I18n.t("queries.name.q_#{@query_num}") %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div style="text-align: center;" class="card indigo lighten-2 ">
                <div class="card-content black-text">
                    <span class="card-title"><b>Essa consulta é do tipo:</b></span>
                    <p>
                        <%= I18n.t("queries.type.t_#{@query_num}") %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div style="text-align: center;" class="card indigo lighten-2 ">
                <div class="card-content black-text">
                    <span class="card-title"><b>A consulta retornou:</b></span>
                    <p><%= @columns_num %> colunas</p>
                    <p><%= @rows_num %> linhas</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s8 offset-s4">
            <%= @html.html_safe %>
        </div>
    </div>
    <table class="responsive-table centered striped bordered">
        <thead>
            <tr>
                <% @columns.each_with_index do |column_item,index| %>
                <th> <%= column_item %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @rows.each do |row_item| %>
            <tr>
                <% (0..@columns_num).each do |index| %>
                <td> <%= row_item[index] %> </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
